In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
y17n = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2017 Nifty.csv')
y17bn = fy18n = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2017 BNifty.csv')
y18n = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2018 Nifty.csv')     
y18bn = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2018 BNifty.csv')   
y19n = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2019 Nifty.csv')
y19bn = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2019 BNifty.csv')
y20n = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2020 Nifty.csv')
y20bn = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2020 BNifty.csv') 
y21n = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2021 Nifty.csv')  
y21bn = pd.read_csv('/content/drive/MyDrive/1min data NF BNF 2017-2021/2021 BNifty.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
a1 = [y17n,y17bn,y18n,y18bn,y19n,y19bn,y20n,y20bn,y21n,y21bn]

In [ ]:

y17n.replace('', np.nan, inplace=True)
y17n.replace('None--', np.nan, inplace=True)

In [ ]:
y17n.dropna(axis=0, inplace =False)

,Unnamed: 0,1,2,3,4,5,6,7,8
0,0,NIFTY,2017-01-02,09:08,8210.10,8210.10,8210.10,8210.10,100.0
1,1,NIFTY,2017-01-02,09:16,8212.00,8212.00,8188.60,8189.55,58.0
2,2,NIFTY,2017-01-02,09:17,8188.75,8193.95,8188.75,8189.95,59.0
3,3,NIFTY,2017-01-02,09:18,8190.15,8190.75,8173.60,8173.70,59.0
4,4,NIFTY,2017-01-02,09:19,8173.00,8177.55,8168.80,8177.55,55.0
...,...,...,...,...,...,...,...,...,...
93192,93192,NIFTY,2017-12-29,15:28,10532.40,10535.20,10532.20,10533.10,58.0
93193,93193,NIFTY,2017-12-29,15:29,10532.80,10533.70,10529.00,10531.30,58.0
93194,93194,NIFTY,2017-12-29,15:30,10530.20,10533.20,10526.50,10526.50,60.0
93195,93195,NIFTY,2017-12-29,15:31,10528.80,10528.80,10528.80,10528.80,1.0
93196,93196,NIFTY,2017-12-29,15:32,10530.50,10530.70,10530.30,10530.70,3.0

In [ ]:
a = []
for i in range(len(y17n)):
  if y17n['3'][i] == '09:08' or y17n['3'][i] == '15:31' or y17n['3'][i] == '15:32':
    a.append(i)
print(a)

[0, 376, 377, 753, 754, 1130, 1131, 1132, 1508, 1509, 1885, 2262, 2263, 2264, 2640, 2641, 3017, 3018, 3019, 3395, 3396, 3397, 3773, 3774, 3775, 4151, 4152, 4153, 4529, 4530, 4531, 4907, 4908, 4909, 5285, 5286, 5287, 5663, 5664, 5665, 6041, 6042, 6418, 6419, 6420, 6796, 6797, 7173, 7174, 7175, 7551, 7552, 7553, 7929, 7930, 7932, 8308, 8309, 8310, 8686, 8687, 8688, 9064, 9065, 9441, 9442, 9443, 9819, 9820, 10196, 10573, 10574, 10575, 10951, 10952, 11328, 11329, 11330, 11706, 11707, 11708, 12084, 12085, 12086, 12462, 12463, 12464, 12840, 12841, 12842, 13218, 13219, 13220, 13596, 13597, 13598, 13974, 13975, 13976, 14352, 14353, 14354, 14730, 14731, 14732, 15108, 15110, 15486, 15487, 15488, 15864, 15865, 16241, 16242, 16243, 16619, 16620, 16621, 16997, 16998, 17374, 17375, 17751, 17752, 18128, 18129, 18130, 18506, 18507, 18508, 18884, 18885, 18886, 19262, 19263, 19264, 19640, 19641, 20017, 20018, 20019, 20395, 20396, 20397, 20773, 20774, 21150, 21151, 21152, 21528, 21529, 21530, 21906, 21907, 22283, 22284, 22285, 22661, 22662, 23038, 23039, 23415, 23417, 23793, 23794, 23795, 24171, 24172, 24173, 24549, 24550, 24926, 24927, 25303, 25304, 25305, 25681, 25682, 25683, 26059, 26060, 26436, 26437, 26813, 26814, 27190, 27191, 27567, 27568, 27943, 27944, 28320, 28321, 28322, 28698, 28699, 28700, 29076, 29077, 29453, 29454, 29830, 29831, 30207, 30209, 30585, 30586, 30962, 31339, 31340, 31716, 31717, 31718, 32094, 32095, 32096, 32472, 32473, 32474, 32850, 32851, 32852, 33228, 33229, 33230, 33606, 33607, 33608, 33984, 33985, 33986, 34362, 34363, 34364, 34740, 34741, 35118, 35119, 35120, 35496, 35497, 35498, 35874, 35875, 35876, 36252, 36253, 36254, 36630, 36631, 36632, 37008, 37009, 37010, 37386, 37387, 37763, 37764, 38140, 38141, 38517, 38519, 38895, 38896, 39272, 39273, 39649, 39650, 40026, 40027, 40403, 40404, 40780, 40781, 40782, 41158, 41159, 41160, 41536, 41537, 41913, 41914, 42290, 42291, 42667, 42668, 42669, 43045, 43046, 43422, 43423, 43424, 43800, 43801, 43802, 44178, 44179, 44180, 44556, 44557, 44558, 44934, 44935, 44936, 45312, 45313, 45690, 45691, 45692, 46068, 46069, 46070, 46446, 46447, 46449, 46825, 46826, 47202, 47203, 47579, 47580, 47956, 47957, 47958, 48334, 48335, 48544, 48545, 48546, 48922, 48923, 48924, 49300, 49301, 49302, 49678, 49679, 49680, 50056, 50057, 50058, 50434, 50435, 50436, 50812, 50813, 50814, 51190, 51191, 51192, 51568, 51569, 51570, 51946, 51947, 51948, 52324, 52325, 52326, 52702, 52703, 52704, 53080, 53081, 53082, 53458, 53459, 53460, 53836, 53837, 53838, 54214, 54215, 54217, 54593, 54594, 54595, 54971, 54972, 55348, 55349, 55350, 55726, 55727, 55728, 56104, 56105, 56106, 56482, 56483, 56484, 56860, 56861, 57237, 57238, 57614, 57615, 57991, 57992, 58368, 58369, 58370, 58746, 58747, 58748, 59124, 59125, 59501, 59502, 59503, 59879, 59880, 59881, 60257, 60258, 60634, 60635, 60636, 61012, 61013, 61389, 61390, 61766, 61767, 61768, 62144, 62145, 62147, 62523, 62524, 62525, 62901, 62902, 62903, 63279, 63280, 63281, 63657, 63658, 63659, 64035, 64036, 64037, 64413, 64414, 64415, 64791, 64792, 64793, 65169, 65170, 65546, 65547, 65548, 65924, 65925, 66301, 66302, 66678, 66679, 66680, 67056, 67057, 67058, 67434, 67435, 67436, 67812, 67813, 68189, 68190, 68567, 68568, 68569, 68945, 68946, 68947, 69323, 69324, 69325, 69701, 69703, 70079, 70080, 70082, 70458, 70459, 70460, 70836, 70837, 70838, 71214, 71215, 71216, 71592, 71593, 71594, 71970, 71971, 71972, 72348, 72349, 72350, 72726, 72727, 72728, 73104, 73481, 73482, 73483, 73859, 73860, 73861, 74237, 74238, 74239, 74615, 74616, 74680, 75056, 75057, 75058, 75434, 75435, 75436, 75812, 75813, 75814, 76190, 76191, 76192, 76568, 76569, 76570, 76946, 76947, 76948, 77324, 77325, 77327, 77703, 77704, 77705, 78081, 78082, 78083, 78459, 78460, 78461, 78837, 78838, 78839, 79215, 79216, 79217, 79593, 79594, 79595, 79971, 79972, 79973, 80349, 80350, 80351, 80727, 80728, 80729, 81105, 81106, 81107, 81483, 81484, 81485, 81861, 81862, 81863, 82239, 82240, 82241, 82617, 82618, 82619, 82995, 83372, 83373, 83374, 83750, 83751, 83752, 84128, 84129, 84130, 84506, 84507, 84508, 84884, 84885, 84886, 85262, 85263, 85639, 85640, 85642, 86018, 86019, 86021, 86397, 86398, 86774, 86775, 87151, 87152, 87528, 87529, 87905, 87906, 88282, 88283, 88284, 88660, 88661, 88662, 89038, 89039, 89040, 89416, 89417, 89418, 89794, 89795, 89796, 90172, 90173, 90174, 90550, 90551, 90928, 90929, 90930, 91306, 91307, 91308, 91684, 91685, 91686, 92062, 92063, 92064, 92440, 92441, 92442, 92818, 92819, 93195, 93196]

In [ ]:

y17n.drop(a,axis=0, inplace=True )

In [ ]:
for i in range(10):
  a=[]
  a1[i].replace('', np.nan, inplace=True)
  a1[i].replace('None--', np.nan, inplace=True)
  a1[i].dropna(axis=0, inplace =False)
  b = a1[i]
  for j in range(len(b)):
    
    if b['3'][j] == '09:08' or b['3'][j] == '15:31' or b['3'][j] == '15:32':
      a.append(j)
  b.drop(a,axis=0, inplace=True )

KeyError: ignored

In [ ]:
for i in range(10):
  print(len(a1[i]))

In [ ]:
for i in range(10):
  print(len(a1[i]))

In [ ]:
y17n.to_csv('2017N.csv')
y17bn.to_csv('2017BN.csv')
y18n.to_csv('2018N.csv')
y18bn.to_csv('2018BN.csv')
y19n.to_csv('2019N.csv')
y19bn.to_csv('2019BN.csv')
y20n.to_csv('2020N.csv')
y20bn.to_csv('2020BN.csv')
y21n.to_csv('2021N.csv')
y21bn.to_csv('2021BN.csv')