In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/sampledata.csv')

In [ ]:
## you can think on lines, to treat OI similar to moving average. Weight can be the Delta factor using days from expiry
## Like OI weighted averaged over period n, with weight being the ratio of del OI(ce/pe) and del OI(pe/ce) both situations differenctly
## check for indicators like when CE oi crosses the moving average, whats happening in the market, or what happens when the OI averages intersect

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/data_4yr.csv')
df1.drop(columns='Unnamed: 0', inplace=True,axis=1)

In [ ]:
# logic behind this code snippet is we are considering only a 5% probably move in index after taking the trade.
# so the remaining strike prices are useless and are filtered out.
# Then we will try to use this data to get relevant ratios and stuff

def get_unique(numbers):
    unique = []
    for number in numbers:
        if number not in unique:
            unique.append(number)
    return unique

date_lis = list(df1['Date'])
dates = get_unique(date_lis)

df3 = pd.DataFrame()
for i in dates:
  df2 = pd.DataFrame()
  df2 = df1[df1['Date'] == i]
  p = df2['Underlying Value']*0.95

  df2.drop(df2[(df2['Strike Price'] < p)].index, inplace=True)
  df3 = pd.concat([df3,df2])

df4 = pd.DataFrame()
for i in dates:
  df2 = pd.DataFrame()
  df2 = df3[df3['Date'] == i]
  q = df2['Underlying Value']*1.05
  df2.drop(df2[(df2['Strike Price'] > q)].index, inplace=True)
  df4 = pd.concat([df4,df2])

df4.to_csv('updated_1.csv') 
df4.reset_index(inplace=True)
df4.drop(columns=['index'], inplace=True,axis=1)
df4

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Date,Expiry,Underlying Value,Option Type,Open,High,Low,Close,LTP,Open Int CE,Change in OI CE,Strike Price,Change in OI PE,Open Int PE,Open.1,High.1,Low.1,Close.1,LTP.1,Option Type.1
0,2018-01-01,2018-01-25,25318.100000,CE,0.00,0.00,0.00,1781.20,0.00,0.0,0.0,24100.0,3800.0,7120.0,37.00,49.00,33.00,40.00,44.70,PE
1,2018-01-01,2018-01-25,25318.100000,CE,0.00,0.00,0.00,1714.95,0.00,0.0,0.0,24200.0,2640.0,9160.0,45.00,60.00,38.95,48.80,53.75,PE
2,2018-01-01,2018-01-25,25318.100000,CE,0.00,0.00,0.00,1650.20,0.00,0.0,0.0,24300.0,2640.0,6520.0,51.80,74.25,47.85,61.90,68.00,PE
3,2018-01-01,2018-01-25,25318.100000,CE,0.00,0.00,0.00,1586.90,0.00,0.0,0.0,24400.0,4840.0,8040.0,54.00,83.95,54.00,71.25,83.95,PE
4,2018-01-01,2018-01-25,25318.100000,CE,1140.00,1140.00,985.00,1007.95,985.00,185800.0,-360.0,24500.0,197120.0,614520.0,76.60,96.40,65.10,84.85,91.00,PE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28418,2021-12-30,2021-12-30,35063.601563,CE,3.00,4.15,0.05,0.15,0.05,171000.0,-138925.0,36400.0,-850.0,8125.0,1627.90,1627.90,1275.35,1354.15,1333.90,PE
28419,2021-12-30,2021-12-30,35063.601563,CE,3.45,3.80,0.05,0.15,0.05,1221100.0,-1482500.0,36500.0,-28975.0,121925.0,1727.50,1754.05,1339.75,1456.60,1434.35,PE
28420,2021-12-30,2021-12-30,35063.601563,CE,4.00,4.00,0.05,0.10,0.05,139525.0,-180450.0,36600.0,-1625.0,7475.0,1603.15,1731.30,1474.55,1546.35,1534.15,PE
28421,2021-12-30,2021-12-30,35063.601563,CE,3.60,3.60,0.05,0.10,0.05,269025.0,-96600.0,36700.0,-2925.0,10750.0,1865.10,1865.10,1555.00,1662.65,1637.00,PE
28422,2021-12-30,2021-12-30,35063.601563,CE,2.65,2.95,0.05,0.10,0.05,167750.0,-150075.0,36800.0,-3225.0,7500.0,1850.00,1937.40,1650.00,1750.35,1735.90,PE

In [ ]:
## i have 4 factors to consider. Since i am planning on trading monthly. So days to expiry would be crucial to trade upon.
## would now figure out the use of gamma, theta, delta in this.

In [ ]:
d = pd.read_csv('/content/drive/MyDrive/sampledata_imp.csv')
d.drop(columns=['Unnamed: 0'])

,Date,Expiry,Underlying Value,ATM Strike,Option Type,Open,High,Low,Close,LTP,...,LTP.1,Option Type.1,OI ratio,price ratio,del OI ratio,Percent change,day change,type,new ratio,new ratio 1
0,2018-01-01,2018-01-25,25318.100000,25300.0,CE,496.80,508.45,402.65,419.65,408.45,...,295.00,PE,0.160428,1.950695,0.099237,-0.870000,-0.950758,NaN,0.203403,0.618575
1,2018-01-02,2018-01-25,25338.250000,25300.0,CE,430.00,439.40,347.95,393.20,375.65,...,305.00,PE,0.356436,1.777778,1.109589,0.079587,-0.388595,Gap up,0.837996,3.113014
2,2018-01-03,2018-01-25,25318.600000,25300.0,CE,426.50,431.40,359.00,364.25,366.00,...,279.60,PE,0.369535,3.159898,5.000000,-0.077552,-0.291036,Gap up,0.858031,13.530534
3,2018-01-04,2018-01-25,25462.600000,25500.0,CE,272.45,320.00,245.65,299.85,315.00,...,298.45,PE,0.906250,0.563207,0.802695,0.568752,-0.026074,Gap up,0.510749,0.885732
4,2018-01-05,2018-01-25,25601.850000,25600.0,CE,263.95,319.20,245.75,296.65,313.00,...,264.40,PE,1.685542,0.631884,0.359813,0.546881,0.102453,Gap up,3.152497,0.213470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,2021-12-24,2021-12-30,34857.050781,34900.0,CE,607.95,630.90,268.45,357.90,364.90,...,380.00,PE,0.875395,1.628460,1.220287,-0.949380,-1.780604,Gap up,0.824684,1.393984
985,2021-12-27,2021-12-30,35057.898438,35100.0,CE,130.00,383.60,84.70,331.65,355.00,...,302.05,PE,1.391599,0.778571,0.984578,0.576204,-0.785283,Gap down,0.388028,0.707515
986,2021-12-28,2021-12-30,35183.800781,35200.0,CE,387.90,397.75,223.40,287.65,271.15,...,260.05,PE,1.908698,7.509363,1.754444,0.359127,-0.565832,Gap up,0.278054,0.919183
987,2021-12-29,2021-12-30,35045.398438,35000.0,CE,350.00,489.90,141.65,226.25,145.00,...,216.05,PE,1.063950,9.166667,3.038932,-0.393370,-0.590617,Gap down,26.410562,2.856273
988,2021-12-30,2021-12-30,35063.601563,35100.0,CE,65.00,129.00,0.10,4.10,0.20,...,35.00,PE,2.510435,0.723708,3.435378,0.051942,-0.447266,Gap down,1.850452,1.368439

In [ ]:
q = df4['Expiry']
s = df4['Date']
df4['time_expiry'] = 0
for i in range(len(df4)-1):
  p = q.iloc[i]
  r1 = int(p[8:10])
  r2 = int(p[5:7])
  r3 = int(p[2:4])
  t = s.iloc[i]
  u1 = int(t[8:10])
  u2 = int(t[5:7])
  if u2 == r2:
    df4['time_expiry'].iloc[i]= r1-u1
  
  if u2 < r2 :
    
    if (u2 == 1):
      df4['time_expiry'].iloc[i] = 31-u1+r1
    if (u2==2 & r3%4==0 ):
      df4['time_expiry'].iloc[i] = 29-u1+r1
    if (u2==2 & r3%4!=0 ):
      df4['time_expiry'].iloc[i] = 28-u1+r1
    if (u2 == 3):
      df4['time_expiry'].iloc[i] = 31-u1+r1
    if (u2 == 4):
      df4['time_expiry'].iloc[i] = 30-u1+r1
    if (u2 == 5):
      df4['time_expiry'].iloc[i] = 31-u1+r1    
    if (u2 == 6):
      df4['time_expiry'].iloc[i] = 30-u1+r1    
    if (u2 == 7):
      df4['time_expiry'].iloc[i] = 31-u1+r1
    if (u2 == 8):
      df4['time_expiry'].iloc[i] = 31-u1+r1
    if (u2 == 9):
      df4['time_expiry'].iloc[i] = 30-u1+r1
    if (u2 == 10):
      df4['time_expiry'].iloc[i] = 31-u1+r1
    if (u2 == 11):
      df4['time_expiry'].iloc[i] = 30-u1+r1
    if (u2 == 12):
      df4['time_expiry'].iloc[i] = 31-u1+r1
  
 
df4.to_csv('monthly option chain.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)